body {
    background-color: #fcf3d4;
    line-height: 1.2;
    margin: 0;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tree {
    width: 100%;
    opacity: 95%;
    padding: 0px;
    z-index: 900;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 28%;
    border: 2px solid black;
    box-shadow: 0 10px 20px -5px black;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 925;
  font-size: 38px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
text-shadow: 2px 2px 3px black; 
}

.navigation {
    width: 1500px;
    height: 75px;
    border: 3px solid black;
    background-color: #f3a27d;
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    z-index: 950;
    box-shadow: 0 5px 20px -5px black;
}

a {
    vertical-align: auto;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    display: inline-block;
    transition: all 0.15s ease;
}

a:hover {
    background-color: #f77e42;
    box-shadow: 3px 6px 5px black;
    transform: translateY(4px);
}

.stuff {
  background: linear-gradient(135deg, #febc71 0%, #ff86c8 100%);
  box-shadow: 0 5px 20px -5px black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

ul {
    text-align: center;
    display: table;
    margin: 0 auto;
}

.square {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}

.table {
    border: 3px solid black;
    text-align: left;
    width: 400px;
    padding: 8px;
    margin: 30px;
}

.square {
    box-shadow: 0 5px 15px -5px black;
    border-radius: 5px;
    padding: 40px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background: #f9f2efcc;
    border: 2px solid black;
    box-shadow: 0 5px 18px -5px black;
}


tr:nth-child(even) {
  background-color: #FF86C8;
}

tr:hover {
    background: #f5ab62;
    color:#f0fe71;
}

.image {
    text-align: center;
    width: 560px;
    height: 330px;
    padding: 0px;
    margin: 20px;
    border: 2px solid black;
}


.logo {
    width: 60px;
    height: 60px;
    float: right;
    margin: 9.8px;
    border: 2px dotted black;
    border-radius: 50%;
    
}

h2 {
    text-align: center;
}

footer {
    width: 100%;
    height: 100px;
    border: 3px solid black;
    background-color: #f3a27d;
    bottom: 0;
    left: 0;
    box-shadow: 0 5px 20px -5px black;
    gap: 20px;
}

h5, h6 {
    text-align: center;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    width: 1000px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.tree:hover{
  opacity: 88%;
}

.class {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: flex-start;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  font-size: 18px;
  text-align: center;
}

.buttontext {
    padding: 3px;
}

.button {
  padding: 20px;
  margin: 20px;
  font-size: 24px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f8a149;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 8px black;
}

.button:hover {background-color: #f89634}

.button:active {
  background-color: #f89634;
  box-shadow: 0 8px 8px black;
  transform: translateY(4px);
}

.paragraph {
  width: 40%;
}

form {
  width: 45%;
  background-color: #faaed8;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0 5px 18px -5px black;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    border-radius: 6px;
    border: 1px solid #f291c6;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border: 2px solid #f5ab62;
    box-shadow: 0 0 10px 2px #f5ab62;
}

i {
    padding: 3px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  margin: 20px;
  font-weight: bold;
  border: 4px solid black;
  background-color: #f9f2efcc;
  box-shadow: 0 5px 18px -5px black;
  width: 825px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}
